<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Log in</title>
<head th:replace="fragments/header"></head>

</head>

<body>
	<div th:replace="fragments/navbar"></div>

	<div class="container">

		<h2>Welcome!</h2>
		<form th:action="@{/login}" method="post">
			<br /> <input type="text" id="username" name="username"
				th:placeholder="Username" class="form-control" /> <br /> <input
				type="password" th:placeholder="Password" id="password"
				name="password" class="form-control" /> <br />
			<div align="center" th:if="${param.error}">
				<h4 style="color: red">Login unsuccessful.</h4>
			</div>
			<button class="btn btn-md btn-success btn-block" name="Submit"
				value="Login" type="Submit">Log in</button>

		</form>
		<form th:action="@{/signup}" method="get">
			<button type="Submit" class="btn btn-lg btn-primary">Signup</button>
		</form>
	</div>
	<div th:replace="fragments/footer"></div>

</body>
</html>