<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Subscriber List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <h1>Welcome to Our Awesome Site!</h1>
    <h3>Subscribe to our List. Sign-up below!</h3>
    
    <p>Please use the form below to submit a Blog Post:</p>
	<form action="#" th:action="@{/}" th:object="${blogPost}" method="post">
	    <table>
		<tr>
	            <td>Title</td>
		    <td><input type="text" th:field="*{title}" /></td>
		</tr>
		<tr>
		    <td>Author:</td>
		    <td><input type="text" th:field="*{author}" /></td>
		</tr>
		<tr>
	    	    <td>Blog Entry:</td>
		    <td><input type="text" th:field="*{blogEntry}" /></td>
		</tr>
		<tr>
		    <td><button type="submit">Submit Your Post</button></td>
		</tr>
	    </table>
	</form>
    
  </body>
</html>